/*.img{
  height:300px;
  width:500px;
  text-align: center;
  margin:100px;
}
body{
 background-color:lightblue;
 font-style: italic;
}
.button{
  background-color:pink;
  cursor:pointer;
  border:none;
  font-style: italic;
  height:100px;
  width:100px;
}*/
.employee{
border:2px solid black;
border-radius:10px;
}
.greetwelcome{
  background-color:green;
  border-radius:10px;
  height:50px;
  text-align:center;
  font-size:40px;
  color:white;
}
.greetno{
  background-color:red;
  border-radius:10px;
  height:50px;
  text-align:center;
  font-size:40px;
  color:white;}
.counter{
 font-size: 50px;
 text-align: center;
}
.increment{
  text-align: center;
  margin: 0px 5px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  background-color: green;
}
.decrement{
  text-align: center;
  margin: 0px 5px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  background-color: red;
}
.reset{
  text-align: center;
  margin: 0px 5px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  background-color:cornflowerblue;
}
.counterclass{
  text-align: center;
  display: flex;
  justify-content: center;
}
.color-div{
  text-align: center;
}
.color-h1{
  margin: 0;
}
.color-para1{
  color: aliceblue;
}
